@using BikeToIt.ViewModels
@model AllTrailsViewModel

    <div class="container">
        <table class=" table table-sm centered-table">
            <h1 class="text-success">All Trails</h1>

            <tr>
                <th>Id</th>
                <th>Trail Name</th>
                <th>Cities</th>
                <th>State</th>
                <th>Distance</th>
                <th>Surface Type</th>
                <th>Destinations</th>
                <th>More Details</th>
            </tr>

            @foreach (var trail in Model.Trails)
            {

        <tr>
            <td>@trail.Id</td>
            <td>@trail.Name</td>
            <td>
                <ul class="list-unstyled">


                    @foreach (var city in Model.TrailCity)
                    {
                        if (trail.Id == city.TrailId)
                        {
                            <li>@city.City.Name</li>


                        }
                    }

                </ul>
            </td>
            <td>@trail.State</td>
            <td>@trail.Distance <span> miles</span></td>
            <td>@trail.SurfaceType</td>
            <td>
                <ul class="list-group">
                    @foreach (var d in trail.Destinations)
                    {
                        <li class="list-group-item">@d.Name</li>
                    }
                </ul>
            </td>
            <td><a class="btn btn-success text-light" asp-controller="Trail" asp-action="Detail" asp-route-id="@trail.Id">Detail Page</a></td>
        </tr>
            }







        </table>
    </div>