@using BikeToIt.ViewModels
@model SearchResultsViewModel


    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table class=" table centered-table">
                    <h1>Search Results</h1>

                    <tr>
                        <th>Trail Name</th>
                        <th>Cities</th>
                        <th>State</th>
                        <th>Distance</th>
                        <th>Surface Type</th>
                    </tr>
                    @if (Model.Trails.Count == 0)
                    {
                        <h2 style="color:red;text-align:center">There are no trails that match your search. </h2>
                        <h5 style="text-align:center"><u><a class="text-success" asp-controller="trail" asp-action="search"> Back to Search</a></u></h5>


                    }
                    @foreach (var trail in Model.Trails)
                    {

                        <tr>
                            <td><h4><a class="text-success" asp-controller="trail" asp-action="detail" asp-route-id="@trail.Id">@trail.Name</a></h4></td>
                            <td>
                                <ul class="list-unstyled">


                                    @foreach (var city in Model.TrailCity)
                                    {
                                        if (trail.Id == city.TrailId)
                                        {
                                            <li>@city.City.Name</li>


                                        }
                                    }

                                </ul>
                            </td>
                            <td>@trail.State</td>
                            <td>@trail.Distance <span> miles</span></td>
                            <td>@trail.SurfaceType</td>
                        </tr>
                    }

                </table>
            </div>
            <div class="col-1"></div>
        </div>
    </div>


